:root {
  /* Primary */
  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);

  /* Neutral */
  --very-dark-blue: hsl(212, 21%, 14%);
  --Dark-grayis-blue: hsl(228, 12%, 48%);
  --White: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--cream);
  font-size: 0.875rem;
  min-height: 100vh;
}

c-product-card {
  display: flex;
  flex-direction: column;
  background-color: var(--White);
  max-width: 20rem;
  border-radius: 10px;
}
