:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-size: 15px;
  background-color: var(--light-gray);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--white);
  width: 20em;
  height: auto;
  padding: 1rem;
  border-radius: 1rem;
}

.card--main {
  border-radius: inherit;
}

.card--content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: center;
}

h2 {
  font-weight: 700;
}

p {
  padding: 1rem;
  font-weight: 400;
}

.attribution {
  font-weight: 700;
}
