:root {
  /* primary */

  --yellow: hsl(47, 88%, 63%);

  /* secondary */

  --white: hsl(0, 0%, 100%);
  --gray: hsl(0, 0%, 50%);
  --black: hsl(0, 0%, 7%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--yellow);
}

.card {
  background-color: var(--white);
}
